body
{
    text-align: center;
    font-family: sans-serif;
    margin: 0;
}

.blog{
    border: 1px solid black;
    width: 60%;
    display: inline-block;
}

.blog p{
    font-size: 20px;
}

nav{
    background-color: aqua;
    margin: 0;
    height: 60px;
    text-align: left;
}

nav p{
    font-size: 30px;
    font-weight: bold;
}

footer{
    background-color: #777;
    width: 100%;
    color: white;
    padding: 5px;
    /* position: absolute;
    bottom: 0;
    padding: 0; */
}